@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


.hero {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #00000049;
}
  
  .hero:before {
    content: '';
    position: absolute;
    background: url('../../assets/hero-bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

.hero-content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 9rem 0 2rem ;
}

.hero-left {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.hero-left h1 {
    font-size: 4.5rem;
    text-align: center;
    color: rgb(248, 244, 244);
    font-family: 'Libre Baskerville', serif;
}

.hero-left h2 {
    font-size: 1.5rem;
    color: rgb(229, 231, 229);
    padding: .5rem 0;
    text-align: center;
}

.hero-left h3 {
    font-size: 1rem;
    color: white;
    text-align: center;
}

.hero-btn {
    margin: auto;
    text-align: center;
}


.hero-left .hero-btn button {
    cursor: pointer;
    background-color: rgb(230, 206, 161);
}

.hero-right {
    width: 600px;
    margin: auto;
    padding: 1rem;
}

.hero-right img {
    width: 100%;
}




/* MEDIA QUERIES */

@media screen and (max-width: 940px) {

    .hero-content {
        flex-wrap: wrap-reverse;
    }

    .hero-left {
        width: 90%;
        margin: auto;
        padding: 1rem;
    }

    .hero-left h1 {
        font-size: 4rem;
    }

    .hero-left h2 {
        font-size: 1.2rem;
    }
    

}